*{
    padding: 0;
    margin: 0;
    font-family:;
}

.hero {
    height: 90vh;
    width: 100%;
    background-image: url();
    background-size: cover;
    background-position: center;
    background-color: rgb(51, 51, 51);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 48px;
    padding-left: 7%;
    padding-right: 7%;
}

.logo {
    color:white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #f9004d;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color:white;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: none;  
}
nav ul li a:hover {
    color: #f9004d;
    transition: .5s;
}

.main {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin: 20px 0 20px;
    font-size: 70px;
}
h3 {
    color:white;
    font-size: 20px;
    margin-bottom: 45px;
}

h4 {
    color:#fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

.about-me {
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(51, 51, 51);
    
}
.about-me-text {
    color:#fcfc;
    font-size: 1rem;
    letter-spacing: 2px;
    width: 490px;
    /* color: white; */
}

.about-me h2, h5, p {
    color: white;
    text-transform: capitalize;
}

.about-me p {
    line-height: 28px;
    margin-bottom: 40px;
    font-size: 16px;
    color: #fcfc;
    letter-spacing: 1px;
}

.about-me h2 {
    font-size: 74px;
    margin-bottom: 18px;  
}

.about-me h5 {
    letter-spacing: 2px;
    font-size: 20px;
}
.page-section {
    width: 1130px;
    max-width: 95%;
    justify-content: space-around;
    margin: 0 auto;
    display: flex;
    align-items: center;
}



/* h1 {
    text-align: left;
    font-style:unset;
    font-size: 40px;
    color: orange;
    border-bottom: 3px solid orangered; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    padding-left: 100px; 
    font-weight: oblique;  
}

.subHeader h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: top;
    padding-left: 150px;
    color:rgb(194, 176, 20);
   
  
}

body {
    background-color: rgb(68, 68, 68);
    
}

nav ul {
    list-style-type: none;
    color:rgb(194, 176, 20);
    text-align: right;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bold;
}

li {
    display: inline;
    padding: 10px;
}

.hero {
    margin-left: 100px;
    margin-top: 80px;
    padding-right: 170px;
    text-align: left;
    font-size: 12px;
    font-style: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(144, 212, 209)
}

footer h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: small;
    color:rgb(214, 255, 255);
    display:flex;
    justify-content: space-around;
    flex-wrap: flex;
    width: 50%;
    bottom: 0;
    border: 3px solid orangered;
    float: bottom;
    margin-top: 300px;
    position: absolute;
}

footer a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: small;
    color:rgb(206, 240, 234);
    display:flex;
    justify-content: space-around;
    
    width: 50%;
    bottom: 45px;
    border: 3px solid orangered;
    float: bottom;
    margin-top: 300px;
    position: absolute;
    

} */

/* .myEmail {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:azure;

}

.myGit h3 {
    color:rgb(194, 176, 20);
    text-align: right;

} */
/* .email {
    text-align: bottom;
    
}
    
}
.github {
    color: orange;
} */